@model NutryDairyASPApplication.ViewModels.AdminVM;

@{
ViewData["Title"] = "Admin";
}

<partial name="_TitlePartial"/>
<div style="padding: 20px;">
    <h1 class="title text-center" style="color: var(--strong-blue);">@ViewData["Title"]</h1>
    <div class="row justify-content-center align-items-center">
        <div class="nav col flex-column
            nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin: 0; padding: 0;">
            <button class="nav-link active pill" id="v-pills-product-tab" data-bs-toggle="pill" data-bs-target="#v-pills-product" type="button" role="tab" aria-controls="v-pills-product" aria-selected="true">Productos</button>
            <button class="nav-link" id="v-pills-blog-tab" data-bs-toggle="pill" data-bs-target="#v-pills-blog" type="button" role="tab" aria-controls="v-pills-blog" aria-selected="false">Blog</button>
            <button class="nav-link" id="v-pills-categories-tab" data-bs-toggle="pill" data-bs-target="#v-pills-categories" type="button" role="tab" aria-controls="v-pills-categories" aria-selected="false">Categorias</button>
        </div>
        <div class="tab-content col-md-9" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-product" role="tabpanel" aria-labelledby="v-pills-product-tab">
                <div class="card">
                    <div class="card-header">
                        Editar Productos
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Número Total de productos: @Model.TotalProducts</h5>
                        <p class="card-text"></p>
                        <a asp-controller="Product" asp-action="AdminIndex" class="btn btn-card">Ver Todos los productos</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-blog" role="tabpanel" aria-labelledby="v-pills-blog-tab">
                <div class="card">
                    <div class="card-header">
                        Editar Blogs
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Número Total de Blogs: @Model.TotalBlogs</h5>
                        <p class="card-text"></p>
                        <a asp-controller="Blog" asp-action="AdminIndex" class="btn btn-card">Ver Todos los Blogs</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-categories" role="tabpanel" aria-labelledby="v-pills-categories-tab">
                <div id="categories"></div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    $(document).ready(function() {
    $('#v-pills-categories-tab').click(function() {
        $.ajax({
            url: '/ProductSet/PartialIndex',
            type: 'GET',
            dataType: 'html',
            success: function(data) {
                // Coloca el contenido de la respuesta en el contenedor
                $('#categories').html(data);
            },
            error: function(xhr, status, error) {
                // Maneja los errores de la solicitud
                console.log(error);
            }
        });
    });
});
</script>
}
