/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a{
    color: var(--white-blue);
    text-decoration: none;
}
.presentation-custom{
    color: var(--white-blue);
    min-height: 100vh;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 15px;
    display: grid;
    place-items: center;
    width: 100%;
    background-image: url('/assets/img/strawberry-dessert-2191973_1920.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position:bottom;
}
.container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

