.navbar-custom{
    display: flex;
    background: white;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 2px 11px 5px -4px rgba(0,0,0,0.61);
}
.nav-section{
    display: grid;
    grid-template-rows: 40% auto;
    width: 82%;
    border-top-left-radius: 20px;
}
.logo-custom{
    width: 7vw;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    min-height: 50px;
    min-width: 50px;
}
.logo-img{
    width: 100%;
    object-fit: contain;
    background: white;
    border-radius: 10px;
}
.nav-sep{
    border-bottom: 2px solid var(--strong-blue) ;
}
.nav-section>ul{
    display: flex;
    border-top-left-radius: 20px;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;
}
.nav-item-custom{
    list-style: none;
    padding: 5px;
    display: grid;
    place-items: center;
    height: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.btn-enable{
    width: 0;
    font-size: 12px;
    padding: 0;
    border: 0;
    overflow: hidden;
    background: var(--green);
    color: var(--white-blue);
    border-radius: 5px;
    align-self: self-start;
}


@media(max-width:800px){
    .nav-section {
        height: 0px;
        transition: height 0.25s ease-out;
        overflow-y: hidden;
        display: grid;
        grid-template-rows: 0 auto;
        width: 100%;
        place-items:center;
    }
    .nav-section-enable{
        height: 60vh;
        overflow-y: scroll;
        transition: height 0.25s ease-in;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .btn-enable{
        margin-top: 10px;
        margin-left: 10px;
        width: 50px;
        height: 40px;
    }
    .btn-enable:hover{
        background: var(--yellow);
        color: var(--white-blue);
        border: 1px solid var(--yellow);
    }
    .navbar-custom{
        min-height: 65px;
        flex-direction: column;
    }
    .navbar-custom-active{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .logo-custom{
        width: 13vh;
        max-width: 57px;
        position: absolute;
        top: 0.5vh;
        right: 45%;
    }
    .logo-custom>img{
        object-fit: cover;
        width: 100%;
        border-radius: 10px ;
        height: 100%;
    }
    .nav-sep{
        width: 0;
    }
    .logo-disable{
        width: 0;
        height: 0;
        min-width: 0;
        min-height: 0;
        overflow: hidden;
    }
    .nav-section-enable>ul{
        margin: 0;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 80%;
    }
    .nav-item-custom{
        color: var(--white-blue);
        margin-bottom: 10px;
        padding-bottom: 5px ;
        border-radius: 5px;
        width: 70%;
        font-size: 12px;
    }
    .nav-item:hover{
        box-shadow: none;
        color: var(--strong-blue);
    }
}

