@model Article
@{
Layout = "_Layout";
}
<a href="javascript:history.back()" class="btn btn-sm btn-category m-2">← volver</a>
<h1 class="text-center title article-title m-2">@Model.Title</h1>
<div class="col-md-8 offset-md-2">
    <section class="row">
        <figure class="w-100 d-flex justify-content-center">
            <img src="@Model.RelatedImagePath" alt="" class="rounded mx-auto image-article">
        </figure>
        <article class="">
            <p class="article-content">@Model.Paragraphs</p>
        </article>
    </section>
</div>
