.article-title{
    font-weight: bold;
}
.image-article{
    height: 290px;
    width:700px;
    object-fit: cover;
}
.article-content{
    font-size: 1.2em;
    text-align: justify;
    padding: 20px;
    width: 100%;
}
@media (max-width:900px) {
    .image-article{
        height: 190px;
        width: 70%;
    }
}
