.article-title{
    font-weight: bold;
}
.image-article{
    height: 390px;
    width:800px;
    object-fit: cover;
}
.article-content{
    font-size: 1.2em;
    text-align: justify;
    padding: 20px;
    width: 100%;
}
