<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h3>Order Completed Successful</h3>
        <p>You can check all your orders in the Order Section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>