@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="text-center title">Manage your account</h1>

<div class="container m-4">
    <h2 class="text-center title">Change your account settings</h2>
    <hr />
    <div class="col-md-8 offset-md-2">
        <partial name="_ManageNav" />
        <div class="col w-100 offset-md-3">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
