@model NutryDairyASPApplication.Models.Product
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
ViewBag.Title = @Model.Name;
Layout = "_Layout";
}

<section class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <h2>
                <a href="javascript:history.back()" class="btn btn-before"><i class="bi bi-arrow-left-short"></i></a>
                @Model.Name
            </h2>
            <img src=@Model.ImagePath alt=@Model.Name>
        </div>
        <div class="col">
            <p class="detail-p">@Model.Description</p>
            <div class="btn-group">
            @if (SignInManager.IsSignedIn(User))
            {
                <a  asp-controller="Order"
                    asp-action="AddItemToShoppingCart"
                    asp-route-id="@Model.Id"
                    class="btn btn-success btn-sm text-white"
                    style="font-style: normal;">
                    <i class="bi bi-cart-plus">Añadir al carrito</i>
                </a>
            }
            <a class="btn btn-light btn-sm"
               style="font-style: italic;">
                Ingredientes
            </a>
            </div>
        </div>
    </div>
</section>
