.content{
    color: var(--dark-blue);
    text-align: center;
}
h2{
    color: var(--strong-blue);
}
.btn-bought{
    background: #1B9C85;
    border: 1px solid #1B9C85;
    color: var(--white-blue);
}
.btn-bought:hover{
    background: var(--light-blue);
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
}
img{
    width: 250px;
    margin: 10px;
    background: white;
    box-shadow: 3px 3px 4px -1px var(--strong-blue);
}
.detail-p{
    margin-top: 5px;
    padding: 5px;
    width: 40%;
    color: var(--dark-blue);
}
@media(max-width:800px){
    .detail-p{
        width: 100%;
    }
}
