@{
ViewBag.Title = "Productos";
Layout = "_Layout";
}

<partial name="_TitlePartial"/>
<div class="principal">
    <div class="cards-container-custom">
        @foreach (var Product in Model)
        {
        <a asp-controller="Product" asp-action="Detail" asp-route-id="@Product.Id" style="text-decoration: none;" >
            <div class="card-custom">
                <img src="@Product.ImagePath" alt=""/>
                <h5>@Product.Name</h5>
            </div>
        </a>
        }
    </div>
</div>
