@model NutryDairyASPApplication.ViewModels.HomeVM

@{
ViewData["Title"] = "NutryDairy";
}
<partial name="_TitlePartial"/>
<div class="presentation">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item w-100 active">
                    <img src="https://cdn.pixabay.com/photo/2016/07/31/20/03/yogurt-1559869_1280.jpg" class="d-block" alt="...">
                </div>
                <div class="carousel-item w-100">
                    <img src="https://cdn.pixabay.com/photo/2016/07/04/20/26/currants-1497328_1280.jpg" class="d-block" alt="...">
                </div>
                <div class="carousel-item w-100">
                    <img src="https://cdn.pixabay.com/photo/2023/04/14/14/30/oatmeal-7925231_1280.jpg" class="d-block" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</div>
<div class="principal">
    <div class="cards-container-custom">
        @foreach (var Product in Model.products)
        {
        <a asp-controller="Product" asp-action="Detail" asp-route-id="@Product.Id" style="text-decoration: none;" >
            <div class="card-custom">
                <img src="@Product.ImagePath" alt=""/>
                <p>@Product.Name</p>
            </div>
        </a>
        }
    </div>
    <a type="button" class='btn btn-card'
        asp-controller="Product" asp-action="Index"> Ver más</a>
</div>
