@model ProductSet;

<div class="col-md-8 offset-md-2">
    <form method="post" class="m-2" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <legend class="text-center">Nueva categoria</legend>
        <div class="form-group col-md-4 m-1">
            <label asp-for="Name" class="form-label"></label>
            <input type="text" asp-for="Name" class="form-control form-control-sm">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-custom m-0 m-1">Submit</button>
    </form>
</div>
